body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #4b6584;
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
    flex:1;
    overflow:'hidden';


}

.calculator {
    
    /* padding: 20px; */
   
    text-align: center;
}

.display {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    background-color:#181F32;
    color: #fff;
    padding: 45px;
    font-size: 2rem;
    border-radius: 10px;
    margin-bottom: 30px;

}

.buttons {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    padding: 35px;
    padding-top: 48px;
    padding-bottom: 48px;
    display: grid;
    background-color: #252D44; 
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    background-color: #ecf0f1;
    border: none;
    padding: 22px;
    font-size: 1.5rem;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #bdc3c7;
}

.operators {
    background-color: #647299;
    color: #fff;
}

.operator:hover {
    background-color:#181F32;
    ;
}

.reset {
    background-color: #647299;
    color: #fff;
    grid-column: span 2;
}

.reset:hover {
    background-color: #647299;
    ;
}

.equal {
    background-color: #e74c3c;
    color: #fff;
    grid-column: span 2;
}

.equal:hover {
    background-color: #c0392b;
}
